body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(167, 167, 167, 0.047);
}

.nav{
    background-color: #2462eb;
    height: 80px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
}
.tit{
    padding-top: 20px;
    font-size: 30px;
    font-family: "Jersey 20", sans-serif;

}

h2{
    text-align: center;
    color: #2462eb;
    padding: 10px;
    font-size: 25px;
}
p{
    text-align: center;
    margin: 10px;
}
.ul {
    list-style-type:none;
    width: 216px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #2462eb;
    border-radius: 20px;
  }
  
  .li {
    float: left;
  }
  
  .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
  }
  
  .li a:hover:not(.active) {
    background-color: #0000006b;
    border-radius: 30px;
    color: white;
  }
  
  .active {
    background-color: rgba(250, 250, 250, 0.729);
    border-radius: 30px;
  }

  ul{
    list-style-type:circle;
  }
































  /* styles.css */


.pricing-table {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.recommended {
  border: 2px solid #007bff;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.u {
  list-style: none;
  padding: 0;
}

.l {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
